# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ДЗ 24.08.2021.iml
# Editor-based HTTP Client requests
/httpRequests/
